{{- $video := .Site.Params.video -}}
{{- $tagline := $video.tagline -}}
{{- $subTagline := $video.subTagline -}}
{{- $vid := $video.vid -}}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper huge-pb">
      <h2 class="title section-title has-text-centered pb-20">{{ $tagline }}</h2>
      <div class="divider is-centered"></div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
          <div class="has-text-centered video-wrapper">
              <iframe src="{{ $vid }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</section>